* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}
body{
  background-color: #0000000e;
}
header,
main,
footer {
  max-width: 1140px;
  /* border: 2px solid green; */
  margin: 0 auto;
}
main section {
  margin: 200px 0;
}

/* google fonts */
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* common shared styles */
.color-primary {
  color: #e95a08;
}
.description {
  font-size: 1.25rem;
  color: hsla(0, 0%, 0%, 0.5);
}

li a:hover {
  font-weight: 600;
  color: #e95a08;
}
.section-title {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 16px;
  font-weight: 700;
  color: #000000;
}
nav ul li,
footer ul li {
  list-style: none;
}

/* header styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 45px;
}

li a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.5);
}
.banner-container {
  display: flex;
  /* border: 2px solid green; */
}
.banner-left {
  flex: 1;
}
.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
}
.banner-title {
  padding-top: 80px;
  color: #000000;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 0px;
}

/* Our Plants styles */
.plants-section {
  text-align: center;
}
.plants-section p {
  max-width: 885px;
  margin: 0 auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}

.card h3 {
  font-size: 1.25rem;
  color: #111111ac;
  margin: 30px 0 20px 0;
}
.card p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
  margin: 25px auto;
}
.card-btn {
  width: 100%;
  padding: 19px 0;
  color: white;
  background-color: #e95a08;
  font-weight: 600;
  border: none;
}

/* Plants Lover Section styles */
.plants-lover-section {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
}
.plants-lover-left,
.plants-lover-right {
  max-width: 540px;
}

.plants-lover-left {
  flex: 1;
}
.plants-lover-left img {
  display: block;
}
.plants-lover-right {
  flex: 1;
}
.plants-lover-right ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.trusted-badge {
  position: absolute;
  height: 286px;
  width: 286px;
  left: 400px;
  top: -150px;
}

/* deal section styles */
.deal-section {
  text-align: center;
}
.deal-section p {
  max-width: 885px;
  margin: 20px auto 70px auto;
}
.offer-card-container {
  display: flex;
  gap: 1.75rem;
  height: 425px;
  color: white;
}

.deal-section-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 30%;
}
.deal-section-left .top-card {
  background-image: url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: 1;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deal-section-left .bottom-card {
  background-image: url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: 1;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal-section-left h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.offer-card-container a {
  color: white;
  font-weight: 600;
  margin-top: 0;
}
.deal-section-right {
  flex: 1;
  background-image: url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: 1;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deal-section-right h4{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.deal-section-right a{
  font-size: 1.75rem;
  font-weight: 600;
}



/* Join Section styles */
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-section div {
  width: 1130px;
  text-align: center;
}
.join-section h2 {
  color: white;
  margin-bottom: 25px;
}
.join-section input {
  width: 80%;
  height: 50px;
  border: none;
  padding-right: 0px;
  padding-left: 20px;
}
.btn-subscribe {
  height: 50px;
  font-weight: 600;
  margin-left: -5px;
  width: 160px;
  border: none;
  color: white;
  background-color: #e95a08;
}

/* footer styles */
footer {
  margin: 50px auto;
  color: #6b7280;
  display: flex;
  justify-content: space-between;
}
footer div {
  max-width: 360px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer .image-container {
  display: flex;
  gap: 24px;
}
.image-container img {
  width: 36px;
  height: 36px;
}

/* responsive for mobile devices */
@media screen and (max-width: 576px) {
  header main {
    max-width: 400px;
  }
  main section {
    margin: 50px 0;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .hidden {
    display: none;
  }
  .banner-container {
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .banner-title {
    padding-top: 20px;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .banner-right {
    width: 100%;
  }
  .banner-right img {
    width: 100%;
  }

  /* our plants */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card img {
    display: block;
    width: 100%;
  }

  /* flower lover */
  .plants-lover-left div {
    display: none;
  }
  .plants-lover-left img {
    width: 100%;
  }
  .plants-lover-section {
    flex-direction: column;
    gap: 10px;
  }

  /* join section */
  /* .join-section{
    margin-top: 200px;
  } */
  .join-section div {
    width: 400px;
  }
  .join-section input {
    width: 50%;
  }
  .btn-subscribe {
    width: 100px;
  }
  footer {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
  }
  footer ul {
    padding-left: 0;
  }

  /* deal section */
  .offer-card-container{
    flex-direction: column;
    height: 1095px;
  }
  .deal-section-left{
    height: 720px;
    width: 100%;
  }
  }

